// Create a new Config.local_secrets.cs class by the root project: this class replaces all the hidden values of Config.cs
namespace TestNotification
{
    public static partial class Config
    {
        static Config()
        {
            BackendServiceEndpoint = "<your_api_app_url>";
        }
    }
}