// Create a new Config.local_secrets.cs class by the TestNotificationWebApp/Configuration path: this class replaces all the hidden values of Config.cs
namespace TestNotificationWebApp.Configuration
{
    public static partial class Config
    {
        static Config()
        {
            BackendServiceEndpoint = "<your_api_app_url>";
        }
    }
}