@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
}

<div class="text-center border-space">
    <h1 class="display-4">Welcome to the TestNotificationWebApp!</h1>
    <p>There is no better place to customize and send a notification to TestNotification mobile application. Let's try!</p>
</div>

<div class="text-center border-space">
    <form method="post">
        <p>
            <strong><label asp-for="NotificationRequest.Text"></label></strong> <br />
            <input asp-for="NotificationRequest.Text" class="input-text" placeholder="Insert text" maxlength="50" required />
        </p>
        <p>
            <strong><label asp-for="NotificationRequest.Tag"></label></strong> <br />
            @*<input asp-for="NotificationRequest.Tag" class="input-text" placeholder="Insert tag" maxlength="50" /> <br />*@
            <select asp-for="NotificationRequest.Tag">
                <option value="" selected="selected">Everyone</option>
                @for(int i = 0; i < Model.UserData.Count; i++){
                    <option value="@Model.UserData[i].Id">@Model.UserData[i].Username</option>
                }
            </select>
        </p>
        <p>
            <input type="submit" value="Send notification" class="input-submit"/>
        </p>
    </form>
</div>

<div class="text-center border-space">
    <span class="notification-ok" style="@(IndexModel.isVisibleOk ? "display:block" : "display:none")"> The notification has been sent correctly.</span>
    <span class="notification-error" style="@(IndexModel.isVisibleError ? "display:block" : "display:none")"> An error occurred during the sending: please read the debug console.</span>
</div>